@font-face {
    font-family: Gravity-Regular;
    src: url("gravity/Gravity-Regular.otf") format("opentype");
}
@font-face {
    font-family: Gravity-Book;
    src: url("gravity/Gravity-Book.otf") format("opentype");
}
@font-face {
    font-family: Gravity-BookItalic;
    src: url("gravity/Gravity-BookItalic.otf") format("opentype");
}
body {
  font-family: 'Gravity-Regular', sans-serif;
}
.page{
	width:100%;
	height:auto;
}
.header{
	width:100%;
	height:500px;
	background-image:url(forest.jpg);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	background-attachment: fixed;
	color:white;
	/*position: relative;*/
	/*z-index:5px;*/
}
.headerTitle{
	max-width:900px;
	padding:0px 20px 0px 20px;
	height:100px;
	/*border:1px solid white;*/
	position:absolute;
	left:0;
	right:0;
	margin:0 auto;
	margin-top:20%;
	z-index:15;
}
.header > .headerTitle > h1{
	letter-spacing: 20px;
	font-size:2.5rem;
	z-index:15;
}
.header > .headerTitle > h3{
	z-index:15;
	font-size: 1.75rem;
	font-weight:3;
	font-family: 'Gravity-Book', sans-serif;
}
.readon{
	width:200px;
	height:150px;
	/*border:1px solid white;*/
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	margin:0 auto;
	margin-top:400px;
	z-index:15;
	text-align: center;
	transition:font-size 0.2s ease-in-out;
}
.readon:hover{
	cursor:pointer;
	font-size:40px;
}
.navigation{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:70px;
	z-index:30;
	background-color:rgba(255,255,255, 0);
	color:white;
	padding:50px 50px 0px 0px;
	transition:background 0.5s ease-in-out;
	transition:padding 0.2s ease-in-out;
}
.navigation > ul{
	position: relative;
	list-style-type:none;
	text-decoration: none;
	width:90%;
	margin:0 auto;
	z-index:15;
}
.navigation > ul > li{
	float:left;
	font-size:18px;
	color:white;
	transition:color 1s ease-in-out;
	margin-left: 2em;
	margin-right: 2em;
	padding:9px;
	font-size:17px;
	z-index:15;
	/*border:2px solid white;*/
}
.navigation > ul > li:last-child{
	float:right;
}
.overlay{
	width:100%;
	height:100%;
	background-color:rgba(0, 0, 0, 0.2);
	position:absolute;
	left:0;
	/*top:0;*/
	z-index:5;
}
.section{
	/*width: 100%;*/
  /* height: 600px; */
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  /* border-bottom: 1px solid #EEEEEE; */
  position: relative;
  padding: 100px 0px 100px 0px;
}
.section-header{
	letter-spacing: 20px;
	/*font-size:2.5rem;*/
	font-family: "Gravity-Regular";
  font-size: 2em;
  margin:0 auto;
  margin-bottom:117px;
  text-align: center;
  /*margin-top:100px;*/
  /*text-decoration: underline;*/
  /*border-bottom:1px solid black;*/
  /*width:auto;*/
}
.section-header > span{
	border-bottom:2px solid black;
	padding-bottom:10px;
}
.dark > .section-header {
	color:white;
}
.dark > .section-header > span{
	border-bottom:2px solid white;
}
#myBio{
	/*height:719px;*/
}
#myDesc{
	/*width:50%;*/
	/*float:right;*/
	/*text-align: right;*/
	/*position:absolute;*/
	/*right:0;*/
	/*top:250px;*/
	color:black;
}
#myBio > .row > .col2 {
    padding-left: 30px;
    padding-right: 10px;
    /*border: 1px solid black;*/
}
#picSide{
	width:51%;
}
#descSide {
  width: 49%;
  text-align: left;
}
#myPhoto{
	width:260px;
	/*height:300px;*/
	background-image:url(myPhoto.jpg);
	border-radius:50%;
	background-position: center;
	background-size:cover;
	background-repeat: no-repeat;
	margin:0 auto;
}
.dark{
	background-color:#282828;
}
.darker{
	background-color:#171515;
}
#skills{}
.row{
	width:100%;
	/*height:100px;*/
	/*border:1px solid white;*/
	color:white;
	margin-right:0;
	margin-left:0;
}
.col2{
	width:50%;
	height:100%;
	/*border:1px solid white;*/
	padding:10px 0px 100px 0px;
	text-align: center;
}
.skill-head{
	/*letter-spacing: 20px;*/
	/*font-size:2.5rem;*/
	font-family: "Gravity-Regular";
  font-size: 20;
  margin:0 auto;
  margin-bottom:20px;
  text-align: center;
}
.skill-description{
	width:60%;
	text-align: center;
	margin:0 auto;
}
.skill-button{
	border: 0px;
  background-color: #4f5358;
  color: white;
  padding: 12px;
  border-radius: 49px;
  margin-top: 20px;
}
#footer{
	margin:0px;
	padding:0px;
	height:200px;
	text-align: center;
	position: relative;
}
#footer > p{
	color:white;
	margin:0 auto;
	padding-top:30px;
	padding-bottom:30px;
}
.social-icon {
    /* color: white; */
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    float:left;
    margin:0px 10px 0px 10px;
}
.socials{
	width:290px;
	height:50px;
	margin:0 auto;
	/*border:1px solid white;*/
	/*text-align: center;*/
}
.social-icon > i{
	line-height: 50px;
}
.social-icon:hover{
	cursor:pointer;
}
#menu-icon{
	display:none;
}